<footer>
    <small class="contact">ඔයාට මොනෞත්තක්ද, git කියල හිතිල තියෙනව ද? මාත් එක්ක බෙදාගන්න ඒ විස්තරය!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>