<p>Git අමාරුයි: කෙලකරගන්න ලේසියි, කෙලවුන එක හදාගන්න විදිය හොයාගන්න එක ඊටත් අමාරුයි. Git documentation has this chicken and egg problem where you can't search for how to get yourself out of a mess, <em>unless you already know the name of the thing you need to know about</em> in order to fix your problem.</p>

<p>මේ තියෙන්නෙ මට කෙලවුන අවස්ථා කීපයක්, සහ ඒ කෙලවුන තැන්වලින් එලියට ආපු විදිය <em>ශුද්ධ සිංහලෙන්ම</em>.</p>
